<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <title>Bad request</title>
</head>
    <body class="bg-[#121213] relative" style="background-image: radial-gradient(circle, #171717 2px, transparent 1.2px);background-size: 40px 40px;">
        <div class="h-screen ps-4 pe-4 flex flex-col items-center justify-center pt-4">
            <div class="w-full md:w-100 h-50 bg-neutral-900 rounded-md flex-col p-2 mb-4 justify-center items-center text-center">
                <p class="text-neutral-100 text-9xl pb-4 font-bold">400</p>
                <p class="text-sm text-neutral-700">This wont work</p>
            </div>
        </div>
    </body>
</html>