<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{{stylesheet}}</style>
    <script>{{js-svg}}</script>
    <title>{{note-name}}</title>
</head>
    <body class="bg-[#121213] relative" style="background-image: radial-gradient(circle, #171717 2px, transparent 1.2px);background-size: 40px 40px;">
        <div class="z-10 absolute right-0 flex flex-col p-4">
            <button class="size-13 bg-neutral-900 rounded-md grow-0 self-end flex flex-col items-center ease-in-out transition-colors duration-500 hover:bg-neutral-800" onclick="openMenu(event)">
                <svg class="h-6 w-6 text-neutral-100 flex-1 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                </svg>
            </button>
            <div class="portrait:grow rounded-md mt-4 grid grid-flow-col grid-rows-4 gap-2 lg:flex lg:flex-col portrait:flex portrait:flex-col">
                <button class="bg-neutral-900 size-13 flex flex-col items-center ease-in-out transition-colors duration-500 hover:bg-neutral-800 rounded-md" onclick="panzoom.zoomIn()">
                    <svg class="h-6 w-6 text-neutral-100 flex-1 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </button>
                <button class="bg-neutral-900 size-13 flex flex-col items-center ease-in-out transition-colors duration-500 hover:bg-neutral-800 rounded-md" onclick="panzoom.zoomOut()">
                    <svg class="h-6 w-6 text-neutral-100 flex-1 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </button>
                <button class="bg-neutral-900 size-13 flex flex-col items-center ease-in-out transition-colors duration-500 hover:bg-neutral-800 rounded-md" onclick="panzoom.reset()">
                    <svg class="h-6 w-6 text-neutral-100 flex-1 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                    </svg>
                </button>
            </div>

        </div>
        <div class="h-screen w-screen">
            {{svg}}
        </div>
    <script>
        const elem = document.getElementById('notes');
        const panzoom = Panzoom(elem, {
            maxScale: 100,
            canvas: true
        });

        elem.parentElement.addEventListener('wheel', panzoom.zoomWithWheel);

        function openMenu(event) {
            const button = event.target;
            const content = button.nextElementSibling;
            const parent = button.parentElement;
            content.classList.toggle('hidden');
            content.classList.toggle('grid');
            content.classList.toggle('portrait:flex');
            content.classList.toggle('portrait:flex-col');
            content.classList.toggle('lg:flex');
            content.classList.toggle('lg:flex-col');
        }
    </script>
    </body>
</html>